@charset "UTF-8";
@import url("../css/default.css");
/* --------------------------------------------------------------
   共通
-------------------------------------------------------------- */
body {
  min-width: 1100px;
  color: #000;
  font-size: .14rem;
  font-family: "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 1065px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: calc(100% - .3rem);
  }
}

/* --------------------------------------------------------------
   Module_Element
-------------------------------------------------------------- */
/* Flex ---------- */
.mod_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mod_flex.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mod_flex_center.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_flex_between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* 3列4列の場合の調整 */
  /* // 3列4列の場合の調整 */
}

.mod_flex_between.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mod_flex_between.col3::after, .mod_flex_between.col4::before, .mod_flex_between.col4::after {
  content: "";
  display: block;
  height: 0;
}

.mod_flex_between.col4::before {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.mod_flex_around {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.mod_flex_around.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* main
--------------------------------------------------------------*/
/* fv ----------- */
.fv {
  padding: 0 0 .35rem;
  background: center top/12rem auto no-repeat #c7e7ef url(../img/fv_bg_pc.png);
}

.fv_header {
  height: .95rem;
}

.fv_header .logo {
  width: 1.3rem;
  margin-right: 1.1rem;
}

.fv_header .head {
  width: 5.65rem;
}

.fv_catch {
  width: 8.16rem;
  margin-left: 1.7rem;
}

.fv_text {
  display: block;
  width: 5.54rem;
  margin: .3rem auto .7rem;
}

.fv_cot {
  padding: 0 0 .1rem;
  border: 2px solid #013591;
}

.fv_cot_stit {
  margin: 0 auto;
  text-align: center;
}

.fv_cot_stit .inline {
  display: inline-block;
  width: 7.84rem;
  margin: 0 0 -.28rem;
  padding: 0 .07rem .1rem;
  background: #c7e7ef;
  position: relative;
  top: -.28rem;
}

.fv_cot_lists {
  margin: -.1rem 0 0;
}

.fv_cot_lists_item {
  height: .68rem;
  padding: .2rem 0 0 1rem;
  background-position: center left;
  background-repeat: no-repeat;
}

.fv_cot_lists_item.item1 {
  background-size: .87rem auto;
  background-image: url(../img/fv_item1_ico.svg);
}

.fv_cot_lists_item.item1 img {
  width: 1.79rem;
}

.fv_cot_lists_item.item2 {
  margin: 0 .72rem 0 .9rem;
  background-size: .73rem auto;
  background-image: url(../img/fv_item2_ico.svg);
  position: relative;
}

.fv_cot_lists_item.item2::before, .fv_cot_lists_item.item2::after {
  content: "";
  width: 2px;
  height: .58rem;
  background: #013591;
  position: absolute;
  top: .1rem;
}

.fv_cot_lists_item.item2::before {
  left: -.35rem;
}

.fv_cot_lists_item.item2::after {
  right: -.5rem;
}

.fv_cot_lists_item.item2 img {
  width: 1.16rem;
}

.fv_cot_lists_item.item3 {
  background-size: .84rem auto;
  background-image: url(../img/fv_item3_ico.svg);
}

.fv_cot_lists_item.item3 img {
  width: 2.26rem;
}

@media screen and (max-width: 767px) {
  .fv {
    padding: .1rem 0 .3rem;
    background: top center/100% auto no-repeat #c7e7ef url(../img/fv_bg_sp.png);
  }
  .fv_header {
    display: block;
    height: auto;
  }
  .fv_header .logo {
    width: .65rem;
    margin-right: 0;
  }
  .fv_header .head {
    width: 80%;
    margin: .2rem auto .15rem;
  }
  .fv_catch {
    width: 95%;
    margin-left: 5%;
  }
  .fv_text {
    width: 100%;
    margin: .15rem auto 1.3rem;
  }
  .fv_cot {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 .2rem;
    border-width: 1px;
  }
  .fv_cot_stit .inline {
    width: 70%;
    margin: 0 auto -.2rem;
    padding: 0;
    top: -.2rem;
  }
  .fv_cot_lists {
    margin: -.2rem 0 0;
  }
  .fv_cot_lists_item {
    height: .36rem;
    padding: .3rem 0 0;
    background-position: center top;
  }
  .fv_cot_lists_item.item1 {
    background-size: .35rem auto;
    background-position: center top .1rem;
  }
  .fv_cot_lists_item.item1 img {
    width: .9rem;
  }
  .fv_cot_lists_item.item2 {
    margin: 0 .3rem;
    background-size: .3rem auto;
    background-position: center top .1rem;
    position: relative;
  }
  .fv_cot_lists_item.item2::before, .fv_cot_lists_item.item2::after {
    width: 1px;
    height: 100%;
    top: .1rem;
  }
  .fv_cot_lists_item.item2::before {
    left: -.15rem;
  }
  .fv_cot_lists_item.item2::after {
    right: -.15rem;
  }
  .fv_cot_lists_item.item2 img {
    width: .58rem;
  }
  .fv_cot_lists_item.item3 {
    background-size: .35rem auto;
  }
  .fv_cot_lists_item.item3 img {
    width: 1.13rem;
  }
}

/* contants ----------- */
.contants {
  padding: .5rem 0 .05rem;
  background: center/0.12rem auto repeat url(../img/repeat_bg.png);
}

.contants_wrap {
  position: relative;
}

.contants_wrap::before, .contants_wrap::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
}

.contants_wrap::before {
  width: 1.37rem;
  height: 1.14rem;
  background-image: url(../img/sec_deco1.svg);
  top: .3rem;
  left: .55rem;
}

.contants_wrap::after {
  width: 1.44rem;
  height: 1.56rem;
  background-image: url(../img/sec_deco2.svg);
  top: .15rem;
  right: .75rem;
}

.contants_title {
  width: 6.4rem;
  margin: 0 auto .6rem;
}

.contants_desc {
  width: 6.6rem;
  margin: 0 auto .4rem;
}

.contants_link .item {
  width: 5.2rem;
  margin: 0 0 .3rem;
  position: relative;
}

.contants_link .item .btn {
  display: block;
  width: 2.24rem;
  position: absolute;
  left: calc(50% - 1.12rem);
  bottom: .35rem;
}

@media screen and (min-width: 768px) {
  .contants_link .item .btn {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .contants_link .item .btn:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 767px) {
  .contants {
    padding: .3rem 0 .05rem;
    background: center/0.06rem auto repeat url(../img/repeat_bg.png);
  }
  .contants_wrap::before {
    width: .65rem;
    height: .57rem;
    left: 0;
  }
  .contants_wrap::after {
    width: .6rem;
    height: .68rem;
    right: 0;
  }
  .contants_title {
    width: 80%;
    margin: 0 auto .3rem;
  }
  .contants_desc {
    width: calc(100% - .3rem);
    margin: 0 auto .2rem;
  }
  .contants_link {
    padding-left: .05rem;
  }
  .contants_link .item {
    width: 100%;
    margin: 0 .15rem .15rem;
  }
  .contants_link .item .btn {
    width: 1.5rem;
    left: calc(50% - .75rem);
    bottom: .25rem;
  }
}

/* contact ----------- */
.contact {
  padding: .5rem 0 .6rem;
  text-align: center;
  background: #68bed5;
}

.contact .deco {
  display: inline-block;
  position: relative;
}

.contact .deco::before, .contact .deco::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: -.1rem;
}

.contact .deco::before {
  width: 1.1rem;
  height: .57rem;
  background-image: url(../img/contact_deco1.svg);
  left: -1.5rem;
}

.contact .deco::after {
  width: 1.38rem;
  height: .57rem;
  background-image: url(../img/contact_deco2.svg);
  right: -1.75rem;
}

.contact a {
  display: block;
  width: 3.22rem;
}

@media screen and (min-width: 768px) {
  .contact a {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .contact a:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: .25rem 0 .3rem;
  }
  .contact .deco::before, .contact .deco::after {
    top: 0;
  }
  .contact .deco::before {
    width: .55rem;
    height: .3rem;
    left: -.6rem;
  }
  .contact .deco::after {
    width: .69rem;
    height: .3rem;
    right: -.75rem;
  }
  .contact a {
    width: 2.2rem;
  }
}
/*# sourceMappingURL=style.css.map */