@charset "utf-8";

//　変数宣言
$main_width: 1065px;
$font_color: #000;
$color_black: #000;
$color_white: #fff;
$color_red: #f00;
$color_orange: #f2a531;
$color_green: #3a614f;


$fonts: "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;




$link_color: #000; //aタグに色指定がある場合のみ
$img_dir: "../img/";




// @extend グルーピングされる。メンテナンスしにくい
// 不確定で装飾が変わるとはいえ、似たようなパーツのとき
