@charset "utf-8";


// MW WP Form
//  .mw_wp_form_input　入力画面
//  .mw_wp_form_confirm　確認画面
//  .mw_wp_form_complete　完了画面


/* デフォルト 変更する場合は 「 !important 」 対応
 ------------------------- */
.mw_wp_form .error {
  font-size: 93%;
  color: #B70000;
  display: block;
}


/* 入力画面 
 ------------------------- */



/* 確認画面 
 ------------------------- */ 



/* 完了画面 
 ------------------------- */



